

slider-component.page-width {
  padding: 0 1.5rem;
}

.page-width, .page-width-desktop {
    max-width: 100% !important;
    padding: 60px 70px;
}

@media screen and (max-width: 989px) {
  .page-width, .page-width-desktop {
      padding-top: 30px;
      padding-bottom: 0;
  }
}

.slider.slider--mobile {
  position: relative;
  flex-wrap: inherit;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scroll-padding-left: 1.5rem;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 1rem;
}

/* Fix to show some space at the end of our sliders in all browsers */
.slider--mobile:after {
  content: '';
  width: 0;
  padding-left: 1.5rem;
}

.slider.slider--mobile .slider__slide {
  margin-bottom: 0;
  padding-top: max(var(--focus-outline-padding), var(--shadow-padding-top));
  padding-bottom: max(var(--focus-outline-padding), var(--shadow-padding-bottom));
}

.slider.slider--mobile.contains-card--standard .slider__slide:not(.collection-list__item--no-media) {
  padding-bottom: var(--focus-outline-padding);
}

.slider.slider--mobile.contains-content-container .slider__slide {
  --focus-outline-padding: 0rem;
}


.slider.slider--tablet {
  position: relative;
  flex-wrap: inherit;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scroll-padding-left: 1.5rem;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 1rem;
}

/* Fix to show some space at the end of our sliders in all browsers */
.slider--tablet:after {
  content: '';
  width: 0;
  padding-left: 1.5rem;
  margin-left: calc(-1 * var(--grid-desktop-horizontal-spacing));
}

.slider.slider--tablet .slider__slide {
  margin-bottom: 0;
  padding-top: max(var(--focus-outline-padding), var(--shadow-padding-top));
  padding-bottom: max(var(--focus-outline-padding), var(--shadow-padding-bottom));
}

.slider.slider--tablet.contains-card--standard .slider__slide:not(.collection-list__item--no-media) {
  padding-bottom: var(--focus-outline-padding);
}

.slider.slider--tablet.contains-content-container .slider__slide {
  --focus-outline-padding: 0rem;
}


  .grid--5-col-desktop .grid__item {
    width: calc(12.5% - var(--grid-mobile-horizontal-spacing) - 5rem);
  }

  .grid--4-col-desktop .grid__item {
    width: calc(25% - var(--grid-mobile-horizontal-spacing) - 4em);
  }

  .grid--3-col-desktop .grid__item {
    width: calc(33.33% - var(--grid-mobile-horizontal-spacing) - 3rem);
  }

  .grid--2-col-desktop .grid__item {
    width: calc(50% - var(--grid-mobile-horizontal-spacing) - 2rem);
  }

  .grid--1-col-desktop .grid__item {
    width: calc((100% - var(--desktop-margin-left-first-item)) - var(--grid-desktop-horizontal-spacing) * 9);
  }


.section-template--15408245211178__collection_slider_kUY8nk-padding {
  padding-right: 0;
}

.title-wrapper-with-link {
  padding-right: 5rem;
}