.card__content,
.card--standard.card--media .card__inner .card__information .card__caption {
  display: none;
}

.card--standard.card--media .card__inner .card__information,
.card--standard.card--media .card__inner .card__information .card__heading,
.card__inner .card__content {
  display: block;
}

.card__inner .card__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card--standard.card--media .card__inner .card__information .card__heading {
  color: #FFFFFF;
  text-decoration: underline;
  font-weight: 700;
}

.title-wrapper-with-link {
  margin-bottom: 24px;
}

.collection-list-subtitle {
  margin-top: 0px;
}